In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Car%20Evaluation/car.data",names=["buying","maint","doors","persons","lug_boot","safety","class"])

In [37]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [39]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [40]:
df.buying = df.buying.replace({"low":0,"med":1,"high":2,"vhigh":3})

In [41]:
df.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [42]:
df.maint = df.maint.replace({"low":0,"med":1,"high":2,"vhigh":3})

In [43]:
df.doors.unique()

array(['2', '3', '4', '5more'], dtype=object)

In [44]:
df.doors = df.doors.replace({"2":2,"3":3,"4":4,"5more":5})

In [45]:
df.persons.unique()

array(['2', '4', 'more'], dtype=object)

In [46]:
df.persons = df.persons.replace({"2":2,"4":4,"more":6})

In [47]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [48]:
df[["lug_med","lug_small"]]=pd.get_dummies(data=df.lug_boot,drop_first=True)
df.drop(columns="lug_boot",inplace=True)
df.head()

   buying  maint  doors  persons safety  class  lug_med  lug_small
0       3      3      2        2    low  unacc        0          1
1       3      3      2        2    med  unacc        0          1
2       3      3      2        2   high  unacc        0          1
3       3      3      2        2    low  unacc        1          0
4       3      3      2        2    med  unacc        1          0

In [49]:
df.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [50]:
df[["safety_low","safety_med"]]=pd.get_dummies(df.safety,drop_first=True)
df.drop(columns="safety",inplace=True)
df.head()

,buying,maint,doors,persons,class,lug_med,lug_small,safety_low,safety_med
0,3,3,2,2,unacc,0,1,1,0
1,3,3,2,2,unacc,0,1,0,1
2,3,3,2,2,unacc,0,1,0,0
3,3,3,2,2,unacc,1,0,1,0
4,3,3,2,2,unacc,1,0,0,1

In [51]:
df["class"].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [52]:
df["class"] = df["class"].replace({"unacc":0,"acc":1,"good":2,"vgood":3})

In [53]:
df.head()

,buying,maint,doors,persons,class,lug_med,lug_small,safety_low,safety_med
0,3,3,2,2,0,0,1,1,0
1,3,3,2,2,0,0,1,0,1
2,3,3,2,2,0,0,1,0,0
3,3,3,2,2,0,1,0,1,0
4,3,3,2,2,0,1,0,0,1

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buying      1728 non-null   int64
 1   maint       1728 non-null   int64
 2   doors       1728 non-null   int64
 3   persons     1728 non-null   int64
 4   class       1728 non-null   int64
 5   lug_med     1728 non-null   uint8
 6   lug_small   1728 non-null   uint8
 7   safety_low  1728 non-null   uint8
 8   safety_med  1728 non-null   uint8
dtypes: int64(5), uint8(4)
memory usage: 74.4 KB

In [59]:
X=df.drop(columns="class")
y=df["class"]

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.15)

In [55]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [57]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score

In [58]:
model_list=[KNeighborsClassifier(), SVC(), MLPClassifier(), DecisionTreeClassifier(), RandomForestClassifier(), GradientBoostingClassifier()]

In [61]:
def model_comp():
    score=list()
    for model in model_list:
        estimator = model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        ac_score = accuracy_score(y_test,y_pred)
        score.append({
            "estimator": estimator,
            "accuracy_score" : ac_score
        })
        model_df = pd.DataFrame(score,columns=["estimator","accuracy_score"])
    return model_df

In [62]:
model_df = model_comp()

d:\Users\ukdem\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [63]:
model_df

                                           estimator  accuracy_score
0                             KNeighborsClassifier()        0.930769
1                                              SVC()        0.930769
2                                    MLPClassifier()        0.938462
3                           DecisionTreeClassifier()        0.984615
4  (DecisionTreeClassifier(max_features='auto', r...        0.980769
5  ([DecisionTreeRegressor(criterion='friedman_ms...        0.980769