In [3]:
import pandas as pd
import numpy as np

In [4]:
url = "https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Wireless%20Indoor%20Localization/wifi_localization.txt"

In [11]:
df = pd.read_csv(url,sep="\t",names=[1,2,3,4,5,6,7,"room"])

In [12]:
df.head()

    1   2   3   4   5   6   7  room
0 -64 -56 -61 -66 -71 -82 -81     1
1 -68 -57 -61 -65 -71 -85 -85     1
2 -63 -60 -60 -67 -76 -85 -84     1
3 -61 -60 -68 -62 -77 -90 -80     1
4 -63 -65 -60 -63 -77 -81 -87     1

In [13]:
df.shape

(2000, 8)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       2000 non-null   int64
 1   2       2000 non-null   int64
 2   3       2000 non-null   int64
 3   4       2000 non-null   int64
 4   5       2000 non-null   int64
 5   6       2000 non-null   int64
 6   7       2000 non-null   int64
 7   room    2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB

In [16]:
df.describe().T

       count     mean        std   min    25%   50%    75%   max
1     2000.0 -52.3305  11.321677 -74.0 -61.00 -55.0 -46.00 -10.0
2     2000.0 -55.6235   3.417688 -74.0 -58.00 -56.0 -53.00 -45.0
3     2000.0 -54.9640   5.316186 -73.0 -58.00 -55.0 -51.00 -40.0
4     2000.0 -53.5665  11.471982 -77.0 -63.00 -56.0 -46.00 -11.0
5     2000.0 -62.6405   9.105093 -89.0 -69.00 -64.0 -56.00 -36.0
6     2000.0 -80.9850   6.516672 -97.0 -86.00 -82.0 -77.00 -61.0
7     2000.0 -81.7265   6.519812 -98.0 -87.00 -83.0 -78.00 -63.0
room  2000.0   2.5000   1.118314   1.0   1.75   2.5   3.25   4.0

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler().fit(df.iloc[:,:7])

In [19]:
df.iloc[:,:7] = scaler.transform(df.iloc[:,:7])

In [20]:
df.head()

          1         2         3         4         5         6         7  room
0 -1.030980 -0.110190 -1.135684 -1.084085 -0.918342 -0.155793  0.111457     1
1 -1.384373 -0.402858 -1.135684 -0.996895 -0.918342 -0.616266 -0.502211     1
2 -0.942631 -1.280864 -0.947533 -1.171276 -1.467623 -0.616266 -0.348794     1
3 -0.765935 -1.280864 -2.452747 -0.735323 -1.577479 -1.383721  0.264874     1
4 -0.942631 -2.744208 -0.947533 -0.822513 -1.577479 -0.002302 -0.809045     1

In [21]:
X = df.drop(columns="room")
y=df.room

In [22]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [40]:
from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.svm import SVC

In [41]:
list_of_model = [DecisionTreeClassifier(), KNeighborsClassifier(), MLPClassifier(), GradientBoostingClassifier(), RandomForestClassifier(), SVC()]

In [42]:
def model_comperation():
    score=list()
    for model in list_of_model:
        estimator = model.fit(X_train,y_train)
        y_pred = estimator.predict(X_test)
        ac_score = accuracy_score(y_test,y_pred)

        score.append({
            "estimator" : estimator,
            "accuracy_score" : ac_score
        })
        result_df = pd.DataFrame(score,columns= ["estimator","accuracy_score"])
    return result_df

In [43]:
model_df = model_comperation()

d:\Users\ukdem\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [44]:
model_df

                                           estimator  accuracy_score
0                           DecisionTreeClassifier()          0.9800
1                             KNeighborsClassifier()          0.9775
2                                    MLPClassifier()          0.9775
3  ([DecisionTreeRegressor(criterion='friedman_ms...          0.9825
4  (DecisionTreeClassifier(max_features='auto', r...          0.9875
5                                              SVC()          0.9775

In [46]:
X_test.shape

(400, 7)

In [47]:
X_train.shape

(1600, 7)

In [50]:
model = DecisionTreeClassifier().fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.9725

In [51]:
y_test

1712    4
1210    3
385     1
1896    4
1805    4
       ..
1168    3
771     2
1609    4
1997    4
115     1
Name: room, Length: 400, dtype: int64

In [52]:
y_pred

array([4, 3, 1, 4, 4, 1, 3, 1, 3, 1, 4, 3, 3, 1, 4, 4, 2, 4, 4, 1, 3, 3,
       3, 2, 2, 1, 4, 3, 3, 3, 4, 3, 1, 3, 2, 4, 1, 1, 1, 2, 4, 1, 3, 1,
       2, 4, 2, 4, 1, 4, 3, 1, 1, 4, 2, 3, 1, 3, 3, 2, 4, 2, 1, 2, 3, 1,
       3, 3, 1, 4, 2, 2, 4, 3, 3, 2, 4, 1, 3, 4, 3, 2, 2, 4, 1, 3, 2, 1,
       2, 3, 2, 2, 2, 4, 3, 2, 4, 4, 1, 3, 4, 2, 1, 4, 4, 4, 4, 2, 4, 1,
       4, 4, 2, 1, 3, 3, 2, 2, 3, 3, 3, 1, 1, 2, 3, 1, 2, 3, 2, 2, 3, 3,
       2, 4, 4, 2, 1, 1, 3, 1, 2, 1, 4, 1, 2, 1, 4, 1, 1, 3, 1, 2, 1, 2,
       2, 1, 3, 4, 1, 4, 2, 3, 1, 3, 1, 3, 4, 4, 3, 1, 4, 3, 4, 4, 4, 4,
       2, 2, 4, 2, 3, 1, 2, 3, 1, 1, 1, 4, 2, 2, 4, 1, 3, 4, 1, 4, 3, 3,
       3, 1, 2, 3, 3, 4, 3, 2, 3, 3, 4, 4, 4, 3, 4, 3, 4, 1, 1, 4, 1, 3,
       1, 1, 2, 1, 3, 2, 1, 2, 3, 3, 4, 1, 2, 4, 3, 1, 1, 4, 4, 2, 1, 4,
       1, 2, 4, 1, 3, 1, 4, 1, 1, 3, 2, 2, 3, 1, 3, 2, 3, 3, 4, 3, 4, 4,
       1, 2, 1, 4, 3, 1, 1, 4, 3, 4, 1, 3, 4, 4, 3, 2, 2, 4, 2, 3, 4, 1,
       4, 4, 4, 4, 4, 1, 2, 2, 2, 4, 2, 2, 3, 3, 3, 1, 2, 1, 1, 2, 3, 2,
       3, 3, 4, 3, 2, 1, 3, 4, 2, 4, 2, 1, 3, 1, 1, 1, 3, 2, 3, 2, 3, 2,
       2, 4, 4, 1, 2, 2, 2, 2, 4, 4, 1, 1, 2, 4, 1, 3, 3, 1, 3, 3, 3, 4,
       1, 2, 2, 2, 4, 1, 2, 1, 2, 3, 3, 1, 1, 4, 2, 1, 3, 3, 3, 4, 4, 3,
       4, 3, 2, 1, 2, 1, 4, 3, 4, 4, 2, 4, 3, 2, 2, 1, 4, 1, 4, 2, 2, 3,
       2, 4, 4, 1], dtype=int64)

In [53]:
len(y_pred)

400